@{
    ViewBag.Title = "Login";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}

<h2>Login</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="form-group mb-4">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter your username">
            </div>
            <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>

            <button type="button" onclick="location.href='@Url.Action("UserDetailForm", "Registration")'" class="btn btn-primary btn-block">New User</button>
        }

    </div>
</div>