@{
    Layout = null;
}

@{
    var pageName = Convert.ToInt32(ViewData["PageName"]);
    var userSession = DemoUserManagement.Util.Constants.GetSessionDetail();
    int userId = userSession != null ? userSession.UserId : 0;
}

<div id="Document" class="container mt-5">
    <div>
        @{
            bool hasRecords = DemoUserManagement.Business.DocumentLogic.CountDocument(userId, pageName) > 0;
            if (hasRecords)
            {
                <table id="DocumentListTable" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sl.No</th>
                            <th>Object ID</th>
                            <th>Page Name ID</th>
                            <th>Document Type ID</th>
                            <th>OriginalDocumentName</th>
                            <th>DocumentNameOnDisk</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            }
            else
            {
                <p>No Records Found!!</p>
            }
        }
    </div>
</div>
