@model List<AirportFuelInventory.Models.ReportSummary.AirportSummary>

<h2>Available Fuel Report</h2>
<table id="availableFuelTable" class="table">
    <thead>
        <tr>
            <th>Airport ID</th>
            <th>Airport Name</th>
            <th>Available Fuel</th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = (Model.First().CurrentPage - 1) * 10 + 1;

            foreach (var item in Model)
            {
                <tr>
                    <td>@item.AirportId</td>
                    <td>@item.AirportName</td>
                    <td>@item.AvailableFuel</td>
                </tr>
            }
        }
    </tbody>
</table>
<input type="button" onclick="generateAvailableFuelReport()" value="Export To PDF" />

