<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RegistrationFormASP.Model.Properties.Settings.RegisterASPConnectionString"
            connectionString="Data Source=MANISHAP-WIN10;Initial Catalog=RegisterASP;User ID=sa;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>